
footer {
    text-align: center;
    margin: 20px;
}

a {
    margin: 10px;
    text-decoration: underline;
    color: #0000ff;
    padding: 2px;
}

li {
    display: inline;
}

.homeBio {
    text-align: center;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 10px;
    margin-top: 30px;
}

.homeBio li {
    display: inline;
    padding-left: 10px;
    margin-bottom: 20px;
}

.honor {
    font-size: 13px;
    padding: 10px;
}

#homeMain {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 20px;
}

/* make images right size */
img {
    object-fit: cover;
    max-width: 350px;
    max-height: 250px;
    border: 2px solid #000000;
    border-radius: 5%;
    margin-bottom: 0px;
}

h2 {
    font-size: 30px;
}

.projHeader, .projectsList div, .projectsList p {
    text-align: center;
    max-width: 500px;
    margin: auto;
    justify-content: center;
    padding: 5px;
}

article {
    text-align: center;
}

.musicPics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.climbPics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoPics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article p {
    margin-bottom: 10px;
}

.projHeader a, .aboutIntro a {
    margin: auto;
}

.projHeader p {
    font-size: 13px;
}

.projectsList h2 {
    font-size: 20px;
}

.skip {
    position: fixed;
    top: -40px;
}

.skip:focus {
    top: 20px;
}

header {
    text-align: center;
}

.accordion {
    cursor: pointer;
    transition: 0.4s;
    margin: auto;
    margin-left: 10px;
    margin-top: 10px;
    width: 75%
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.currPage {
    display: none;
}

nav {
    position: relative;
    text-align: center;
    top: 10px;
    display: none;
}

nav li {
    display: inline;
    margin-top: 10px;
    margin: auto;
    text-align: center;
}

.gitBlurb {
    display: none;
}

.aboutIntro {
    padding: 10px;
}

.pilch2 {
    display: none;
}

@media screen and (min-width: 768px) {
    .accordion {
        display: none;
    }
    .currPage {
        display: inline;
        text-decoration: overline;
    }

    nav {
        position: relative;
        text-align: center;
        top: 10px;
        display: inline;
    }

    #homeMain {
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }

    .homeBio {
        grid-column: 1 / span 3;
    }

    #homeMain img {
        max-width: 85%;
        max-height: 85%;
    }

    article p {
        font-size: larger;
    }

    .aboutSections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 25px 50px;
    }

    .photos {
        grid-column: 1 / -1;
    }

    .climbPics img {
        flex-basis: 200px;
        width: 170px;
        height: 250px;;
    }

    .musicPics img {
        flex-basis: 200px;
    }

    .musicPics, .climbPics, .photoPics {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .photos {
        padding-top: 50px;
    }

    .gitBlurb {
        display: block;
    }

    .projectsList {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-content: center;
    }

    .item1, .item2, .item3 {
        grid-column: span 2;
    }

    .item4, .item5 {
        grid-column: span 3;
    }

    .projectsList div {
        text-align: center;
        padding: 20px;
    }

    .projectsList h2 {
        font-size: 30px;
    }

    .projectsList p {
        font-size: large;
    }
}

@media screen and (min-width: 1200px) {
    /* For Projects page add screenshots of sample output */
    #homeMain {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }

    .carpPic {
        grid-area: 1 / 1 / span 1 / span 1;
    }

    .homeBio {
        grid-area: 1 / 2 / span 1 / span 2;
    }

    .leadPic {
        grid-area: 2 / 3 / span 1 / span 2;
    }

    .pantryPic, .guitarPic, .sibsPic {
        grid-column: span 2;
    }
    
    .pilch2 {
        display: inherit;
    }
    
    .skip:focus {
        top: 30px;
        left: 350px;
    }

    .aboutSections {
        grid-template-columns: repeat(3, 1fr);
    }

    .photos {
        grid-area: 1 / 2 / span 1 / span 1;
        grid-column: 2 / span 1;
        padding-top: 0px;
    }

    .projectsList {
        grid-template-columns: repeat(5, 1fr);
    }

    .item1, .item2, .item3, .item4, .item5 {
        grid-column: span 1;
    }
    
}